{% extends 'base.html.twig' %}
{% block moreStyles %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/angular-tooltips/dist/angular-tooltips.min.css')}}">
    <style type="text/css">
    .fix {position: relative;z-index: 10;}
    </style>
{% endblock %}
{% block moreJavascripts %}
    <script type="text/javascript" src="{{ asset('assets/underscore/underscore-min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('assets/angular/angular.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('assets/ngstorage/ngStorage.min.js')}}"></script>
{% endblock %}
{% block body %}
<div class="main table-data container" ng-app="myApp">
	<div class="twelve columns">
		<h2>Listado de fallecidas entre 1910 y 1940</h2>
		<p>El presente listado muestra el número de personas fallecidas entre las fechas señaladas en la Cárcel de Ventas.</p>
		<p>El objeto de este listado es hacer publicidad de estos fallecimientos como forma de homenaje y reparación a las víctimas, así como para facilitar la búsqueda de información tanto a familiares y amigos como a investigadores. </p>
	</div>

    <div ng-controller="TableCtrl">
    	<div class="row">
	        <input class="six columns" ng-model="searchText" placeholder="Buscar" type="search" ng-change="search()" /> 
	    	<span class="six columns results">
				Resultados: <b>{{ '{{filteredList.length}}' }}</b>
	    	</span>
    	</div>
        <table class="table  table-hover data-table sort display">
            <thead>
                <tr>
                    <th class="name">
                    	<a href="" ng-click="columnToOrder='name';reverse=!reverse">Nombre <i class="fa fa-sort"></i></a>
                    </th>
                    <th class="years"> 
                    	<a href="" ng-click="columnToOrder='years';reverse=!reverse"> Edad <i class="fa fa-sort"></i></a>
                    </th>
                    <th class="date"> 
                    	<a href="">Fecha ingreso</a>
                    </th>
                    <th class="death"> 
                        <a href="">Fecha muerte</a>
                    </th>
                    <th class="deathtype"> 
                    	<a href="" ng-click="columnToOrder='deathtype';reverse=!reverse"> Forma muerte <i class="fa fa-sort"></i></a>
                    </th>
                    <th class="files"> 
                        <a href="" ng-click="columnToOrder='files';reverse=!reverse"> Legajos <i class="fa fa-sort"></i></a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in filteredList | orderBy:columnToOrder:reverse">
                	<td ng-if="item.notes">{{ '{{item.name}}' }} <a href="" tooltips tooltip-content="{{ '{{item.notes}}' }}" class="fix"><i class="fa fa-exclamation-circle"></i></a></td>
                    <td ng-if="!item.notes">{{ '{{item.name}}' }}</td>
                	<td>{{ '{{item.years}}' }}</td>
                	<td>{{ '{{item.date}}' }}</td>
                    <td>{{ '{{item.death}}' }}</td>
                	<td>{{ '{{item.deathtype}}' }}</td>
                    <td>{{ '{{item.files}}' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('scripts/table_controller.min.js')}}"></script>
    <script src="{{ asset('assets/angular-tooltips/dist/angular-tooltips.min.js')}}"></script>
{% endblock %}