<div id="edition_aside_medias">
    <h5>{{ 'Edition'|trans }}</h5>
    <ul class="unstyled">
        <li><a href="{{ path('image_new',{'foreign_key':entity.id,'object_class':object_class,'single':'1'}) }}"
               rel="modal:open"><i
                        class="fa fa-plus-circle"></i> {{ "Add single images"|trans }}</a></li>
        {% for image in single_images %}
            <ul class="unstyled">
                <li>
                    <span class="add-media" data-add="insert_media_image_{{ image.getId }}"><i
                                class="fa fa-caret-left"></i> {{ image.title }}</span>
                </li>
            </ul>
        {% endfor %}
        <li><a href="{{ path('image_new',{'foreign_key':entity.id,'object_class':object_class,'single':'0'}) }}"
               rel="modal:open"><i
                        class="fa fa-plus-circle"></i> {{ "Add grouped images"|trans }}</a></li>
        {% if grouped_images|length>0 %}
            <ul class="unstyled">
                <li>
                    <span class="add-media" data-add="insert_media_gallery_{{ entity.getId }}"><i
                                class="fa fa-caret-left"></i> {{ 'Insert Grouped Images'|trans }}</span>
                </li>
            </ul>
            {% for image in grouped_images %}
                <ul class="unstyled">
                    <li>
                        <span> {{ image.title }}</span>
                    </li>
                </ul>
            {% endfor %}
        {% endif %}
        <li><a href="{{ path('audio_new',{'foreign_key':entity.id,'object_class':object_class}) }}" rel="modal:open"><i
                        class="fa fa-plus-circle"></i> {{ "Añadir audio"|trans }}</a></li>
        {% for audio in audios %}
            <ul class="unstyled">
                <li>
                    <span class="add-media" data-add="insert_media_audio_{{ audio.getId }}"><i
                                class="fa fa-caret-left"></i> {{ audio }}</span>
                </li>
            </ul>
        {% else %}

        {% endfor %}

        <li><a href="{{ path('video_new',{'foreign_key':entity.id,'object_class':object_class}) }}" rel="modal:open"><i
                        class="fa fa-plus-circle"></i> {{ "Añadir vídeo"|trans }}</a></li>
        {% for video in videos %}
            <ul class="unstyled">
                <li>
                    <span class="add-media" data-add="insert_media_video_{{ video.getId }}"><i
                                class="fa fa-caret-left"></i> {{ video }}</span>
                </li>
            </ul>
        {% else %}

        {% endfor %}

        <li><a href="{{ path('document_new',{'foreign_key':entity.id,'object_class':object_class}) }}" rel="modal:open"><i
                        class="fa fa-plus-circle"></i> {{ "Añadir documento"|trans }}</a></li>
        {% for document in documents %}
            <ul class="unstyled">
                <li>
                    <span class="add-media"
                          data-add="insert_media_document_{{ document.getId }}"> {{ 'Added document:'|trans }} {{ document }}</span>
                </li>
            </ul>
        {% else %}

        {% endfor %}
    </ul>
</div>
<script src="{{ asset('scripts/media_snippet.js') }}"></script>