{% extends 'AppBundle:Default:layout_admin.html.twig' %}

{% block admin_content -%}
    <h1>{{'Woman list'|trans}}</h1>
            <a href="{{ path('woman_new') }}">
                {{'Create a new entry'|trans}}
            </a>
    <table class="records_list">
        <thead>
            <tr>
                <th>{{'Name'|trans}}</th>
                <th>{{'Created'|trans}}</th>
                <th>{{'Slug'|trans}}</th>
                <th>{{'Actions'|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('woman_show', { 'id': entity.id }) }}">{{ entity.name }} {{ entity.surname }}</a></td>
                <td>{% if entity.created %}{{ entity.created|date('d-m-Y') }}{% endif %}</td>
                <td>{{ entity.slug }}</td>
                <td>
                    <span><a href="{{ path('woman_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i></a></span>
                    <span><a href="{{ path('woman_show', { 'id': entity.id }) }}"><i class="fa fa-eye"></i></a></span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
