{% extends 'AppBundle:Default:layout_admin.html.twig' %}

{% block admin_content -%}
    <h1>{{'Woman list'|trans}}</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>{{'Name'|trans}}</th>
                <th>{{'Created'|trans}}</th>
                <th>{{'Slug'|trans}}</th>
                <th>{{'Actions'|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('woman_show', { 'id': entity.id }) }}">{{ entity.name }} {{ entity.surname }}</a></td>
                <td>{% if entity.created %}{{ entity.created|date('d-m-Y') }}{% endif %}</td>
                <td>{{ entity.slug }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('woman_show', { 'id': entity.id }) }}">{{'show'|trans}}</a>
                    </li>
                    <li>
                        <a href="{{ path('woman_edit', { 'id': entity.id }) }}">{{'edit'|trans}}</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('woman_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
