{% extends 'AppBundle:Default:layout_admin.html.twig' %}

{% block admin_content -%}
    <h1></h1>

    <main class="eight columns">
        <article>
            <header class="top-article">
                <img class="five columns" src="{{asset("uploads/woman/images/" ~ entity.image)}}">
                <h2 class="seven columns">{{ entity.name }} {{ entity.surname }}</h2>
            </header>
            <p class="intro">
                {% autoescape false %}
                {% set snippets= insert_snippets(entity,entity.biography|raw) %}
                {% for snippet in snippets %}
                    {% if snippet is not iterable %}
                        {{ snippet }}
                    {% else %}
                        {{ render(controller('AppBundle:'~snippet[0]|capitalize~':show_snippet',{'id':snippet[1]})) }}
                    {% endif %}
                {% endfor %}
                {% endautoescape %}
            </p>   
            <footer>
                <p>
                    {{ 'Created'|trans }}: <b>{{ entity.created|date('m-d-Y') }}</b> || {{ 'Updated'|trans }}:
                    <b>{{ entity.updated|date('m-d-Y') }}</b>
                </p>

                <p>
                    {{ 'Friendly URL' }}: <b>{{ entity.slug }}</b>
                </p>

            </footer>
        </article>
    </main>
    <aside class="admin-assets three columns">

        <h5>{{ 'Actions'|trans }}</h5>
        <ul class="unstyled">
            <li>
                <a href="{{ path('woman',{'category_id':entity.category.id}) }}">
                    {{ 'Back to the list'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('woman_edit', { 'id': entity.id }) }}">
                    {{ 'Edit'|trans }}
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>
    </aside>

{% endblock %}