{% extends 'AppBundle:Default:layout_admin.html.twig' %}

{% block admin_content -%}
    <h1>{{'Woman'|trans}}</h1>

     <main class="eight columns">
        <article>
            <header class="top-article" style="background: {{asset('images/uploads/' ~ entity.image)}}">
                <h2>{{ entity.name }} {{ entity.surname }}</h2>
            </header>
                <p class="intro">{{ entity.biography|raw }}</p>
            <footer>
                <p>
                    {{'Created'|trans}}: <b>{{ entity.created|date('m-d-Y') }}</b> || {{'Updated'|trans}}: <b>{{ entity.updated|date('m-d-Y') }}</b>
                </p>
                <p>
                    {{'Friendly URL'}}: <b>{{ entity.slug }}</b>
                </p>

            </footer>
        </article>
        </main>
        <aside class="admin-assets three columns">
            <h5>{{'Edition'|trans}}</h5>
            <ul class="unstyled">
                <li><a href="{{ path('gallery_new',{'foreign_key':entity.id,'object_class':'woman'}) }}" rel="modal:open">Añadir galería</a> </li>
                {% for gallery in galleries %}
                    <ul class="unstyled">
                        <li><a href="{{ path('gallery_show', {'id': gallery.getId}) }}">{{ gallery }}</a> </li>
                    </ul>
                {% else %}

                {% endfor %}
                 <li><a href="{{ path('audio_new',{'foreign_key':entity.id,'object_class':'woman'}) }}" rel="modal:open">{{ "Añadir audio"|trans }}</a></li>
                    {% for audio in audios %}
                        <ul class="unstyled">
                            <li><a href="{{ path('audio_show', {'id': audio.getId}) }}">{{ audio }}</a></li>
                        </ul>
                    {% else %}

                    {% endfor %}

                    <li><a href="{{ path('video_new',{'foreign_key':entity.id,'object_class':'woman'}) }}" rel="modal:open">{{ "Añadir vídeo"|trans }}</a></li>
                    {% for video in videos %}
                        <ul class="unstyled">
                            <li><a href="{{ path('video_show', {'id': video.getId}) }}">{{ video }}</a></li>
                        </ul>
                    {% else %}

                    {% endfor %}

                    <li><a href="{{ path('document_new',{'foreign_key':entity.id,'object_class':'woman'}) }}" rel="modal:open">{{ "Añadir documento"|trans }}</a></li>
                    {% for document in documents %}
                        <ul class="unstyled">
                            <li><a href="{{ path('document_show', {'id': document.getId}) }}">{{ document }}</a></li>
                        </ul>
                    {% else %}

                    {% endfor %}
            </ul>
            <h5>{{'Actions'|trans}}</h5>
            <ul class="unstyled">
                <li>
                    <a href="{{ path('woman') }}">
                        {{'Back to the list'|trans}}
                    </a>
                </li>
                <li>
                    <a href="{{ path('woman_edit', { 'id': entity.id }) }}">
                        {{'Edit'|trans}}
                    </a>
                </li>
                <li>{{ form(delete_form) }}</li>
            </ul>
        </aside>

{% endblock %}
  {% block javascripts %}
    <script src="{{asset('assets/jquery-modal/jquery.modal.min.js')}}"></script>
{% endblock %} 