{% extends 'AppBundle:Default:layout_admin.html.twig' %}

{% block admin_content -%}
    <h1>{{'Gallery list'|trans}}</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>{{'Id'|trans}}</th>
                <th>{{'Objectclass'|trans}}</th>
                <th>{{'Foreignkey'|trans}}</th>
                <th>{{'Title'|trans}}</th>
                <th>{{'Content'|trans}}</th>
                <th>{{'Created'|trans}}</th>
                <th>{{'Updated'|trans}}</th>
                <th>{{'Slug'|trans}}</th>
                <th>{{'Actions'|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('gallery_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.objectClass }}</td>
                <td>{{ entity.foreignKey }}</td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.content }}</td>
                <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.slug }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('gallery_show', { 'id': entity.id }) }}">{{'show'|trans}}</a>
                    </li>
                    <li>
                        <a href="{{ path('gallery_edit', { 'id': entity.id }) }}">{{'edit'|trans}}</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('gallery_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
