{% extends 'AppBundle:Default:layout_admin.html.twig' %}

{% block moreStyles %}
    <link rel="stylesheet" type="text/css" href="{{asset('assets/dropzone/dist/dropzone.css')}}" />
{% endblock %}
{% block moreJavascripts %}
    <script src="{{asset('assets/dropzone/dist/dropzone.js')}}"></script>
{% endblock %}
{% block admin_content -%}

    <div class="eight columns">

        <h4>{{'Gallery'|trans}}: {{entity.title}}</h4>
        <p><b>{{'Content'|trans}}</b>: {{ entity.content }}</p>
        <p><b>{{'Created at'|trans}}</b>: {{ entity.created|date('m-d-Y') }}</p>
        <form  id="UploadGallery" class="dropzone" action="{{ oneup_uploader_endpoint('gallery') }}">
          <div class="fallback">
            <input name="file" type="file" multiple />
          </div>
        </form>
    </div>
    <aside class="admin-assets three columns">
        <ul class="unstyled">
            <li>
                <a href="{{ path('gallery') }}">
                   {{' Back to the list'|trans}}
                </a>
            </li>
            <li>
                <a href="{{ path('gallery_edit', { 'id': entity.id }) }}">
                    {{'Edit'|trans}}
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>      
    </aside>
{% endblock %}
{% block javascripts %}
<script>
  Dropzone.options.UploadGallery = {
    init: function() {
      this.on("addedfile", function(file) {
        var removeButton = Dropzone.createElement("<i class='fa fa-trash-o'></i>");
        var addCaption = Dropzone.createElement("<input type='text' name='title' placeholder='Title'></input>");
        var addDescription = Dropzone.createElement("<input type='text' name='description' placeholder='Description'></input>");
        var _this = this;

        removeButton.addEventListener("click", function(e) {
          e.preventDefault();
          e.stopPropagation();
          _this.removeFile(file);
        });

        file.previewElement.appendChild(removeButton);
        file.previewElement.appendChild(addCaption);
        file.previewElement.appendChild(addDescription);
      });
    }
  };
</script>
{% endblock %}
