{% extends 'AppBundle:Default:layout_admin.html.twig' %}

{% block admin_content -%}

    <div class="eight columns">

        <h4>{{ 'Gallery'|trans }}: {{ entity.title }}</h4>

        <p><b>{{ 'Content'|trans }}</b>: {{ entity.content|raw }}</p>
        <div id="gallery_image_thumbs">
            {% for image in entity.images %}
                <div class="image_thumbnail">
                    <img src="{{asset('uploads/gallery/images/' ~ image.image) | imagine_filter('image_testim_index')}}">
                    <a href="{{ path('image_edit', {'id': image.id}) }}">Editar</a>
                </div>
            {% endfor %}
        </div>

    </div>

    <aside class="admin-assets three columns">
        <div id="edition_aside_medias">
            <h5>{{ 'Edition'|trans }}</h5>
            <ul class="unstyled">

                <li>
                    <a href="{{ path('image_in_gallery_new',{'foreign_key':entity.id,'object_class':entity.getclass|lower,'single':'0','gallery_id':entity.id}) }}"
                       rel="modal:open"><i
                                class="fa fa-plus-circle"></i> {{ "Add  image"|trans }}</a></li>

                <li>
                    <a href="{{ path('gallery') }}">
                        {{ ' Back to the list'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('gallery_edit', { 'id': entity.id }) }}">
                        {{ 'Edit'|trans }}
                    </a>
                </li>
                <li>{{ form(delete_form) }}</li>
            </ul>
        </div>
    </aside>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/jquery-modal/jquery.modal.min.js') }}"></script>
{% endblock %}
