{% extends 'AppBundle:default:layout_admin.html.twig' %}

{% block admin_content -%}
    <h1>{{'Gallery'|trans}}</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>{{'Id'|trans}}</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{{'Objectclass'|trans}}</th>
                <td>{{ entity.objectClass }}</td>
            </tr>
            <tr>
                <th>{{'Foreignkey'|trans}}</th>
                <td>{{ entity.foreignKey }}</td>
            </tr>
            <tr>
                <th>{{'Title'|trans}}</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>{{'Content'|trans}}</th>
                <td>{{ entity.content }}</td>
            </tr>
            <tr>
                <th>{{'Created'|trans}}</th>
                <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>{{'Updated'|trans}}</th>
                <td>{{ entity.updated|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>{{'Slug'|trans}}</th>
                <td>{{ entity.slug }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('gallery') }}">
           {{' Back to the list'|trans}}
        </a>
    </li>
    <li>
        <a href="{{ path('gallery_edit', { 'id': entity.id }) }}">
            {{'Edit'|trans}}
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
            <li><a href="{{ path('image_new', {'gallery_id': entity.id}) }}">{{ "Añadir Imagen"|trans }}</a> </li>
</ul>
{% endblock %}
