{% extends 'base.html.twig' %}
{% block moreStyles %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/plyr/dist/plyr.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/lightgallery/dist/css/lightgallery.min.css') }}"/>
{% endblock %}
{% block body %}
    <div class="main container">
    	    {{ wo_render_breadcrumbs() }}
        <div class="row">
            <main class="nine columns">
                <article>
                    <header class="top-article" style="background-image: url('{{asset("uploads/woman/images/" ~ testimonial.image) | imagine_filter('image_testim_show')}}');">
                        <h2>{{testimonial.name}} {{testimonial.surname}}</h2>
                    </header>
                {#    <p class="intro">{{testimonial.biography|raw}}</p> #}
                    <p class="intro">
                        {% autoescape false %}
                            {% set snippets= insert_snippets(testimonial,testimonial.biography|raw) %}
                                {% for snippet in snippets %}
                                    {% if snippet is not iterable %}
                                        {{ snippet }}
                                    {% else %}
                                        {{ render(controller('AppBundle:'~snippet[0]|capitalize~':show_snippet',{'id':snippet[1]})) }}
                                    {% endif %}
                                {% endfor %}
                        {% endautoescape %}            
                    </p>
                </article>
            </main>
            <aside class="three columns">
 				<div class="documents">
                    <h3>{{'Documentation'|trans}}</h3>
                    <ul>
                        <li><a href=""><i class="fa fa-file-archive-o"></i>Archivo personal de Soledad Real López</a>
                        </li>
                        <li><a href=""><i class="fa fa-file-text-o"></i>Biografía completa</a></li>
                        <li><a href=""><i class="fa fa-file-pdf-o"></i>Bibliografía</a></li>
                    </ul>
                </div>
            </aside>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        (function (d, u) {
            var a = new XMLHttpRequest(),
                    b = d.body;
            // Check for CORS support
            // If you're loading from same domain, you can remove the if statement
            if ("withCredentials" in a) {
                a.open("GET", u, true);
                a.send();
                a.onload = function () {
                    var c = d.createElement("div");
                    c.setAttribute("hidden", "");
                    c.innerHTML = a.responseText;
                    b.insertBefore(c, b.childNodes[0]);
                }
            }
        })(document, "{{ asset('assets/plyr/dist/sprite.svg')}}");
    </script>
    <script type="text/javascript" src="{{ asset('assets/plyr/dist/plyr.js') }}"></script>
    <script type="text/javascript">plyr.setup({});</script>
    <script src="{{ asset('assets/lightgallery/dist/js/lightgallery.min.js') }}"></script>
    <!-- lightgallery plugins -->
    <script src="{{ asset('assets/lightgallery/dist/js/lg-thumbnail.min.js') }}"></script>
    <script src="{{ asset('assets/lightgallery/dist/js/lg-fullscreen.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".gallery").lightGallery();
        });
    </script>
{% endblock %}