{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Historical list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Content</th>
                <th>Image</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Modified</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('historical_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.getMonth|trans }} / {{ entity.getYear }}</td>
                <td>{{ entity.content }}</td>
                <td>{{ entity.image }}</td>
                <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.modified }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('historical_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('historical_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('historical_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
