{% extends 'AppBundle:Default:layout_admin.html.twig' %}

{% block admin_content -%}
    <h1>{{ "Historical list"|trans }}</h1>
<table class="records_list">
        <thead>
            <tr>
                <th>{{'Date'|trans}}</th>
                <th>{{'Title'|trans}}</th>
                <th>{{'Resume'|trans}}</th>
                <th>{{'Content'|trans}}</th>
                <th>{{'Image'|trans}}</th>
                <th>{{'Image caption'|trans}}</th>
                <th>{{'Actions'|trans}}</th>
            </tr>
        </thead>
        <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{entity.getYear}} {{entity.getMonth|trans}}</td>
                        <td><a href="{{ path('historical_show', { 'id': entity.id }) }}">{{entity.head}}</a></td>
                        <td>{{entity.intro}}</td>
                        <td>{{entity.content}}</td>
                        <td><img class="img-table" src="{{asset('uploads/historical/images/' ~ entity.image)}}"></td>
                        <td>{{entity.caption}}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('historical_show', { 'id': entity.id }) }}">{{'show'|trans}}</a>
                                </li>
                                <li>
                                    <a href="{{ path('historical_edit', { 'id': entity.id }) }}">{{'edit'|trans}}</a>
                                </li>
                            </ul>                         
                        </td>

                    </tr>
                {% endfor %}
        </tbody>
    </table>
            <ul>
                <li>
                    <a href="{{ path('historical_new') }}">
                        Create a new entry
                    </a>
                </li>
            </ul>
    {% endblock %}
