{% extends 'AppBundle:Default:layout_admin.html.twig' %}

{% block admin_content -%}
    <h1>{{ "Historical creation"|trans }}</h1>

    {{ form_start(form, {'action': path('historical_create'), 'method': 'post','attr': {'class': 'admin-form out-modal', 'data-place' : 'out-modal'}}) }}
    {{  form_widget( form.date.day, { 'attr': { 'style': 'display:none' } } )  }}

    {{ form_rest(form) }}
    {{ form_end(form, {'render_rest': false}) }}


    <ul class="record_actions">
    <li>
        <a href="{{ path('historical') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
{% block javascripts %}
    {{ tinymce_init() }}
    <script src="{{ asset('assets/jquery-modal/jquery.modal.min.js') }}"></script>
    <script src="{{ asset('scripts/admin.js')}}"></script>
{% endblock %} 
