{% extends 'AppBundle:Default:layout_admin.html.twig' %}

{% block admin_content -%}
	<div class="eight columns">
		<h4><span>({{entity.getMonth}}, {{entity.getYear}})</span></h4>
	    {{ form(form, {'attr': {'class': 'admin-form out-modal', 'data-place' : 'out-modal'}} ) }}
	</div>
    <aside class="admin-assets three columns">
		{{ render(controller('AppBundle:Woman:edition',{'id':entity.id,'object_class':entity.getClass|lower})) }}
    </aside>
{% endblock %}
{% block javascripts %}
    {{ tinymce_init() }}
    <script src="{{ asset('assets/jquery-modal/jquery.modal.min.js') }}"></script>

{% endblock %} 