{% extends '::base.html.twig' %}

{% block body -%}
    <div class="main container history-index">
        {{ wo_render_breadcrumbs() }}
        <div class="row">
            <section class="eleven columns section-intro-wrapper">
                <h2 class="section-title-intro">{{'Jail\'s history' |trans}}</h2>
                <p class="section-intro">Fue ideada por Victoria Kent, primera directora general de Prisiones. El proyecto era construir una prisión modelo para mujeres, ya que anteriormente estas eran hacinadas en depósitos de reclusas, que eran llamadas galeras de mujeres. Con la cárcel de Ventas, Kent se propuso dignificar la condición de la mujer reclusa de cara a su reinserción.</p>
            </section>
            <section class="timeline">
                {% for entity in entities %}
                    <article class="twelve columns history-card">
                        <div class="date">
                            <span class="icon-point">
                                <i class="fa fa-calendar-check-o"></i>
                            </span>
                            <h6>{{ entity.getYear }}</h6>
                            <p>{{ entity.getMonth|trans }}</p>
                            <figure>
                                <img src="{{asset(('uploads/historical/images/' ~ entity.image) | imagine_filter('image_history'))}}">
                                <figcaption>{{entity.caption}}</figcaption>
                            </figure>
                        </div>
                        <div class="content">
                            <h4>{{entity.head}}</h4>
                            <p>{{ entity.intro }}</p>
                            <p><a href="{{ path('app_timeline_show', { 'slug': entity.slug }) }}">{{'Read all'|trans}}</a></p>
                        </div>
                        <div class="clear"></div> 
                    </article>
                {% endfor %}
            </section>
        </div>
    </div>
    {% endblock %}
