{% extends '::base.html.twig' %}

{% block body -%}
    <div class="main container">
            {{ wo_render_breadcrumbs() }}
        <div class="row">
            <main class="nine columns">
                <article>
                    <h3>{{entity.head}}</h3>
                        <p>{{ entity.content }}</p>
                            <figure>
                                <img src="{{asset('uploads/historical/images/' ~ entity.image)}}">
                            {#
                                <img src="{{asset('uploads/historical/images/' ~ entity.image | imagine_filter('image_history'))}}">
                            #}
                                <figcaption>{{entity.caption}}</figcaption>
                            </figure>
                </article>
            </main>
        </div>
    </div>



{% endblock %}
