				<aside class="admin-menu">
					<nav>
						<div class="wrapper-dropdown" tabindex="1"><b>{{'Woman'|trans}}</b> <i class="fa fa-chevron-circle-down"></i>
							<ul class="dropdown">
								<li><a href="{{ path('woman')}} "><i class="fa fa-th-list"></i>{{'List'|trans}}</a></li>
								<li><a href="{{ path('woman_new')}} "><i class="fa fa-pencil"></i>{{'Create'|trans}}</a></li>
							</ul>
						</div>
						<div class="wrapper-dropdown" tabindex="2"><b>{{'Gallery'|trans}}</b> <i class="fa fa-chevron-circle-down"></i>
							<ul class="dropdown">
								<li><a href="{{ path('gallery')}} "><i class="fa fa-th-list"></i>{{'List'|trans}}</a></li>
								<li><a href=""><i class="fa fa-pencil"></i>{{'Create'|trans}}</a></li>
							</ul>
						</div>
						<div class="wrapper-dropdown" tabindex="3"><b>{{'Audio'|trans}}</b> <i class="fa fa-chevron-circle-down"></i>
							<ul class="dropdown">
								<li><a href="{{ path('audio')}} "><i class="fa fa-th-list"></i>{{'List'|trans}}</a></li>
								<li><a href="#"><i class="fa fa-pencil"></i>{{'Create'|trans}}</a></li>
							</ul>
						</div>
						<div class="wrapper-dropdown" tabindex="4"><b>{{'Video'|trans}}</b> <i class="fa fa-chevron-circle-down"></i>
							<ul class="dropdown">
								<li><a href="{{ path('video')}} "><i class="fa fa-th-list"></i>{{'List'|trans}}</a></li>
								<li><a href="#"><i class="fa fa-pencil"></i>{{'Create'|trans}}</a></li>
							</ul>
						</div>		
					</nav>
				</aside>